/*
colors:
#003B46  глубоая вода
#07557B  океан
#66A5AD  волна
#C4DFEG  морская пена
 */


.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 5%;
    height: 100%;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}