.mainPhoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.dontPhoto{
    padding: 10px;
}

.descriptionBlog {
    padding-right: 50px;
    float: right;
}

.descriptionText {
    padding-top: 5px;
}