/*
EPIC
colors:
#265077
#022140
#494B68
#1E4258
#2D5F5D
 */

.background {
    background-color: #022140;
    min-height: 100vh;
    color:#FFF;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.app-wrapper-content {
    grid-area: c;
    background-color: #022f58;
    box-shadow: 0 0 10px #494B68;
    width: 70%;
}